<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="30 seconds">

  <springProperty scope="context" name="logLevel" source="log.level" defaultValue="INFO"/>
  <springProperty scope="context" name="logPath" source="log.path" defaultValue="/Users/guanyang/logs/applogs"/>
  <springProperty name="APP_NAME" source="spring.application.name" defaultValue="None"/>

  <property name="maxFileSize" value="100MB" />
  <property name="maxHistory" value="3" />
  <property name="totalSizeCap" value="1GB" />

  <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
  <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />
  <conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />

<!--  <property name="CONSOLE_LOG_PATTERN"-->
<!--    value="${CONSOLE_LOG_PATTERN:-%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) [%X{x-trace-id:-}]%clr([${APP_NAME};%thread;%X{x-span-id:-}]){faint} %clr(%logger{50}){cyan}.%method %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}" />-->
<!--  <property name="FILE_LOG_PATTERN"-->
<!--    value="%d{yyyy-MM-dd HH:mm:ss.SSS} %level[%X{x-trace-id:-}][${APP_NAME};%thread;%X{x-span-id:-}]%logger{50}.%method:%L- %m%n" />-->

  <property name="CONSOLE_LOG_PATTERN"
            value="${CONSOLE_LOG_PATTERN:-%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) [%X{traceId:-}]%clr([${APP_NAME};%thread;%X{spanId:-}]){faint} %clr(%logger{50}){cyan}.%method %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}" />
  <property name="FILE_LOG_PATTERN"
            value="%d{yyyy-MM-dd HH:mm:ss.SSS} %level[%X{traceId:-}][${APP_NAME};%thread;%X{spanId:-}]%logger{50}.%method:%L- %m%n" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern>{FILE_LOG_PATTERN}</pattern>
    </layout>
  </appender>

  <!-- 控制台输出 -->
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${CONSOLE_LOG_PATTERN}</pattern>
      <charset>UTF-8</charset>
    </encoder>
  </appender>

  <!-- 系统INFO日志文件 -->
  <appender name="INFO_FILE"  class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!-- 过滤器，只打印ERROR级别的日志 -->
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>INFO</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <!--日志文件输出的文件名-->
      <fileNamePattern>${logPath}/${APP_NAME}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <maxFileSize>${maxFileSize}</maxFileSize>
      <maxHistory>${maxHistory}</maxHistory>
      <totalSizeCap>${totalSizeCap}</totalSizeCap>
    </rollingPolicy>

    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
      <pattern>${FILE_LOG_PATTERN}</pattern>
      <charset>UTF-8</charset>
    </encoder>
  </appender>
  <logger name="info_error" additivity="true">
    <appender-ref ref="INFO_FILE"/>
  </logger>

  <!-- 系统错误日志文件 -->
  <appender name="SYSTEM_FILE"  class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!-- 过滤器，只打印ERROR级别的日志 -->
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>ERROR</level>
    </filter>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <!--日志文件输出的文件名-->
      <fileNamePattern>${logPath}/error/${APP_NAME}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <maxFileSize>${maxFileSize}</maxFileSize>
      <maxHistory>${maxHistory}</maxHistory>
      <totalSizeCap>${totalSizeCap}</totalSizeCap>
    </rollingPolicy>

    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
      <pattern>${FILE_LOG_PATTERN}</pattern>
      <charset>UTF-8</charset>
    </encoder>
  </appender>

  <logger name="system_error" additivity="true">
    <appender-ref ref="SYSTEM_FILE"/>
  </logger>

  <springProfile name="dev">
    <root level="${logLevel}">
      <appender-ref ref="CONSOLE" />
      <appender-ref ref="SYSTEM_FILE" />
      <!--            <appender-ref ref="INFO_FILE" />-->
    </root>
  </springProfile>

  <springProfile name="prod">
    <root level="${logLevel}">
      <appender-ref ref="CONSOLE" />
      <appender-ref ref="SYSTEM_FILE" />
      <!--            <appender-ref ref="INFO_FILE" />-->
    </root>
  </springProfile>

  <springProfile name="test">
    <root level="${logLevel}">
      <appender-ref ref="CONSOLE" />
      <appender-ref ref="SYSTEM_FILE" />
      <!--            <appender-ref ref="INFO_FILE" />-->
    </root>
  </springProfile>

  <springProfile name="pre">
    <root level="${logLevel}">
      <appender-ref ref="CONSOLE" />
      <appender-ref ref="SYSTEM_FILE" />
      <!--            <appender-ref ref="INFO_FILE" />-->
    </root>
  </springProfile>

  <springProfile name="local">
    <root level="${logLevel}">
      <appender-ref ref="CONSOLE" />
      <appender-ref ref="SYSTEM_FILE" />
      <!--            <appender-ref ref="INFO_FILE" />-->
    </root>
  </springProfile>
</configuration>